* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

li {
    list-style-type: none;
}

span {
    color: rgba(60, 60, 60, 255);
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(218, 218, 218, 255);
    padding: 20px;
}

.product-list {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 10px 0px;
    margin-right: 10px;
}

.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(236, 236, 237, 255);
}

.product:first-child{
    padding: 0px 10px 10px 10px;
}

.product:last-child{
    border-bottom: none;
    padding: 10px 10px 0px 10px;;
}

.buylist {
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    background-color: white;
    border-radius: 5px;
}

.search-input {
    width: 90%;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    padding: 0 10px;
    border: 2px solid rgba(245, 245, 246, 255);
    color: rgba(173, 173, 173, 255);
    font-size: 16px;
    border-right: none;
}

.search-input:focus {
    outline: none;
    border-color: rgba(66, 131, 202, 255);
}

.search-button {
    width: 10%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(66, 131, 202, 255);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
    box-shadow: inset 0px -5px rgba(60, 116, 178, 255);
    position: relative;
}

.search-button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 0px;
    transform: translateY(10px) scale(0.5);
    background-color: rgba(175, 0, 218, 0.9);
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;
}

.search-button:hover::after {
    opacity: 1;
    transform: scale(1);
}

.amount-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.amount-available {
    color: rgba(145, 145, 145, 255);
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(246, 246, 246, 255);
    padding: 10px 15px;
    border-radius: 8px;
}

.product-condition {
    width: 250px;
    display: flex;
    justify-content: right;
}

.condition {
    color: rgba(145, 145, 145, 255);
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(246, 246, 246, 255);
    padding: 10px 20px;
    border: 1px solid rgba(206, 206, 207, 255);
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: inset 0px -5px rgba(232, 232, 232, 255);
}

.crossed {
    text-decoration: line-through;
}

.change-button {
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.change-button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: -50px;
    transform: translateY(10px) scale(0.5);
    background-color: rgba(175, 0, 218, 0.9);
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;
}

.change-button:hover::after {
    opacity: 1;
    transform: scale(1);
}

.plus{
    background-color: rgba(89, 183, 85, 255);
    box-shadow: inset 0px -5px rgba(79, 161, 77, 255);
}

.minus {
    background-color: rgba(201, 59, 51, 255);
    box-shadow: inset 0px -5px rgba(176, 54, 48, 255);
}

.delete-button {
    width: 40px;
    height: 40px;
    background-color: rgba(201, 59, 51, 255);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: inset 0px -5px rgba(176, 54, 48, 255);
    position: relative;
}

.delete-button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: -30px;
    transform: translateY(10px) scale(0.5);
    background-color: rgba(175, 0, 218, 0.9);
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;
}

.delete-button:hover::after {
    opacity: 1;
    transform: scale(1);
}

.name{
    width: 200px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(60, 60, 60, 255);
    padding: 5px;
}

.product-name{
    color: rgba(145, 145, 145, 255);
    font-size: 16px;
    margin-right: 5px;
}

.default-position{
    justify-content: left;
}

.name-input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid rgba(195, 219, 242, 255);
    color: rgba(173, 173, 173, 255);
    font-size: 16px;
}
 
.name-input:focus {
    outline: none;
    border:2px solid rgba(66, 131, 202, 255);
}

.product-item {
    background-color: rgba(232, 232, 232, 255);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.product-item:last-child{
    margin-right: 0px;
}

.amount {
    background-color: rgba(226, 120, 55, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.badge {
    position: fixed;
    width: 150px;
    height: 50px;
    bottom: 0px;
    left: 10px;
    background-color: rgba(175, 0, 218, 255);
    border: 2px solid rgba(175, 0, 218, 255);
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
    transition: all 1s ease;
    overflow: hidden;
}

.badge-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.badge-content {
    margin-top: 15px;
    opacity: 0;
}

.badge:hover .badge-content {
    opacity: 1;
    transition: all 1s ease;
}

.badge:hover{
    background-color: rgba(76, 1, 218, 255);
    border-color: rgba(76, 1, 218, 255);
    height: 100px;
}

.created-by {
    color: white;
    font-size: 16px;
}

.my-name {
    color: white;
    font-size: 18px;
}

@media print {
    * {
        box-shadow: none !important;
    }
    .container {
        width: 100%;
        height: fit-content;
        padding: 0;
        background-color: white;
    }

    .product-list, .buylist {
        width: 100%;
        height: fit-content;
        margin-right: 0;
    }

    .badge {
        height: 80px;
    }

    .badge-text{
        display: none;
    }

    .badge-content{
        margin-top: 0px;
        opacity: 1;
    }
}

@media (max-width: 1100px){
    .default-position{
        flex-direction: column;
        gap: 5px;
    }

    .search-button{
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .name{
        width: 50px;
        font-size: 12px;
    }

    .name-input{
        width: 50px;
    }

    .product-name{
        font-size: 10px;
    }

    .amount{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .search-button{
        font-size: 10px;
    }

    .title {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .product-list, .buylist {
        width: 100%;
    }
    .default-position {
        flex-direction: row;
        gap: 0px;
    }
}